@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

$pacifico: "Pacifico", sans-serif;

@keyframes Up {
	0% {
		transform: translateY(20px);
		opacity: 0%;
	}

	100% {
		transform: translateY(0px);
		opacity: 100%;
	}

}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFF;
	padding: 15px;
	animation: Up 500ms;
	font-family: "Pacifico";

	h2 {
		margin: 0;
		font-size: 2.5em;
		color: #2b2d42;
	}

	.links {
		button {
			margin-right: 0.3em;
			padding: 0.2em 1.3em 0.2em 1.3em;
			border: solid 2px #FFF;
			border-radius: 10px;
			font-size: 1.2em;
			color: #FFF;
			cursor: pointer;
			outline: none;
			font-family: $pacifico;
		}

		button:nth-child(1) {
			background-color: #edf2f4;
			color: #555;
		}

		button:nth-child(1):hover {
			background-color: #d7dde0;
			border: solid 2px #edf2f4;
		}

		button:nth-child(2) {
			background-color: #8d99ae;
		}

		button:nth-child(2):hover {
			background-color: #a1adc2;
			border: solid 2px #8d99ae;
		}

		button:nth-child(3) {
			background-color: #2b2d42;
		}

		button:nth-child(3):hover {
			background-color: #626585;
			border: solid 2px #2b2d42;
		}

	}

	.show {
		display: none;
		background-color: #2b2d42;
		border: none;
		color: #FFF;
		padding: 0.5em 1.5em 0.5em 1.5em;
		border-radius: 5px;
		outline: none;
		font-family: $pacifico;
	}

	@media (max-width:800px) {
		.links {
			display: none;
		}

		.show {
			display: initial;
		}

	}

}

.menu {
	position: fixed;
	top: 4.5em;
	right: 1em;
	display: none;
	flex-direction: column;
	padding: 10px;
	background-color: #edf2f4;
	border-radius: 5px;
	animation: Up 250ms;
	button {
		background-color: #8d99ae;
		border: none;
		margin: 2.5px;
		padding: 0.5em 1rem 0.5em 1rem;
		width: 40vw;
		border-radius: 5px;
		outline: none;
		font-family: $pacifico;
		font-size: 1em;
		color: #fff;
	}
}

@media (max-width:800px) {
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		h2 {
			font-size: 2em;
		}
	}

	.presentation {
		margin-top: 5em;
	}
}
