@use "abstracts/colors";
@use "components/cards";
@use "fonts/inconsolata";
@use "fonts/pacifico";

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes Up {
  0% {
    transform: translateY(20px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@mixin layout {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 1em;
  margin-bottom: 0.5em;
}

header {
  @include pacifico.pacifico;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  animation: Up 500ms;

  h2 {
    margin: 0;
    font-size: 2.5em;
    color: #2b2d42;
  }

  .links {
    button {
      @include pacifico.pacifico;
      margin-right: 0.3em;
      padding: 0.2em 1.3em 0.2em 1.3em;
      border: solid 2px #fff;
      border-radius: 10px;
      font-size: 1.2em;
      color: #fff;
      cursor: pointer;
      outline: none;
    }

    button:nth-child(1) {
      background-color: colors.$light-gray;
      color: #555;
    }

    button:nth-child(1):hover {
      background-color: #d7dde0;
      border: solid 2px colors.$light-gray;
    }

    button:nth-child(2) {
      background-color: colors.$gray;
    }

    button:nth-child(2):hover {
      background-color: #a1adc2;
      border: solid 2px colors.$gray;
    }

    button:nth-child(3) {
      background-color: colors.$black-blue;
    }

    button:nth-child(3):hover {
      background-color: #626585;
      border: solid 2px colors.$black-blue;
    }
  }

  .show {
    @include pacifico.pacifico;
    display: none;
    background-color: #2b2d42;
    border: none;
    color: #fff;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 5px;
    outline: none;
  }

  @media (max-width: 800px) {
    .links {
      display: none;
    }

    .show {
      display: initial;
    }
  }
}

.menu {
  position: fixed;
  top: 4.5em;
  right: 1em;
  display: none;
  flex-direction: column;
  padding: 10px;
  background-color: #edf2f4;
  border-radius: 5px;
  animation: Up 250ms;

  button {
    @include pacifico.pacifico;
    background-color: #8d99ae;
    border: none;
    margin: 2.5px;
    padding: 0.5em 1rem 0.5em 1rem;
    width: 40vw;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    color: #fff;
  }
}

.presentation {
  padding: 0 5em 0 5em;
  animation: Up 500ms;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  img {
    width: 30em;
    margin-right: 5em;
    animation-name: rotate;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  p {
    @include pacifico.pacifico;
    font-size: 5em;
    color: colors.$black-blue;

    span:nth-child(1) {
      color: colors.$light-red;
    }

    span:nth-child(2) {
      color: colors.$light-blue;
    }
  }
}

.cards {
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  animation: Up 500ms;
  @include pacifico.pacifico;
  .card {
    @include cards.card;
  }
}

.comments {
  width: 95vw;
  padding: 1em;
  margin: 2em;
  animation: Up 500ms;
  .comment {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 20px #dcdcdc;
    padding: 1.5em;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 35vh;
      img {
        width: 90%;
        border: none;
        border-radius: 0.5em;
      }
      h3 {
        margin: 0;
        color: rgb(70, 70, 70);
        width: 90%;
        font-size: 2em;
        @include inconsolata.inconsolata;
      }
    }
    .report {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        width: 60%;
        font-size: 1.5em;
        margin: 0;
        text-align: justify;
        @include inconsolata.inconsolata;
      }
    }
  }
}

.ads {
  @include inconsolata.inconsolata;
  width: 100vw;
  padding-left: 1em;
  padding-right: 1em;
  #{&}__ad {
    @include layout;
    font-size: 1em;
    color: #333;
    .title {
      font-size: 1.5rem;
      margin-bottom: 0.2em;
      i {
        margin-right: 0.4em;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top: solid 2px #ddd;
  font-size: 1em;
  @include inconsolata.inconsolata;
  animation: Up 500ms;

  .copyright {
    text-align: center;
  }

  .footer-cards {
    display: flex;
    flex-direction: row;
    padding: 20px;

    div {
      width: 33.3vw;

      p {
        display: flex;
        align-items: center;

        svg {
          margin-right: 0.6em;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .footer {
    .copyright {
      font-size: 0.8em;
    }
    .footer-cards {
      flex-direction: column;
      div {
        h3 {
          width: 50vw;
        }

        p {
          width: 70vw;
          font-size: 0.8em;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    h2 {
      font-size: 2em;
    }
  }

  .presentation {
    text-align: center;
    margin-top: 5em;
    img {
      display: none;
    }
    p {
      font-size: 3em;
    }
  }

  .cards {
    .card {
      @include cards.card-mobile;
    }
  }

  .comments {
    margin: 0;
    width: 100vw;
    .comment {
      display: flex;
      flex-direction: column;
      .info {
        justify-content: space-evenly;
        height: 30em;
      }
      .report {
        padding: 0;
        height: 15em;
        p {
          width: 70vw;
        }
      }
    }
  }

  .ads {
    #{&}__ad {
      .title {
        font-size: 1.3em;
      }
    }
  }
}
